<%= form_for(@story) do |f| %>

  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3> Story options:  </h3>
  <div class="field">
    <%= f.label :timeLimit %><br>
    <%= f.number_field :timeLimit %>
  </div>
  <div class="field">
    <%= f.label :storyText %><br>
    <%= f.text_area :storyText %>
  </div>
  <div class="field">
    <%= f.label :backgroundImage %><br>
    <%= f.text_field :backgroundImage %>
  </div>
  <div class="field">
    <%= f.label :characterImage %><br>
    <%= f.text_field :characterImage %>
  </div>
  <div class="field">
    <%= f.label :final %><br>
    <%= f.check_box :final %>
  </div>

<h3>Story Choices</h3>

<ul>
    <%= f.fields_for :story_choices do |choice_form| %>
      <li>
      <h3> Story Choice :</h3>
        <div class="field">
          <%= choice_form.label :text %><br>
          <%= choice_form.text_area :text %>
        </div>
        <div class="field">
          <%= choice_form.label :weight %><br>
          <%= choice_form.number_field :weight %>
        </div>
        <div class="field">
          <%= choice_form.label :storyIndex %><br>
          <%= choice_form.select(:storyIndex, options_for_select(  Story.all.map { |story| [story.storyText, story.id]  } )) %>
          <%#= choice_form.number_field :storyIndex %>
        </div>
      </li>
    <% end %>
</ul>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
