<div class="col-xs-12">
<%= form_for(@story) do |f| %>

  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3> Story options:</h3>

  <div class="form-group row">
    <%= f.label :storyText %><br>
    <%= f.text_area :storyText , class: 'col-xs-12'%>
  </div>



  <div class="form-group row">
    <div class="col-xs-3 form-horizontal">
      <%= f.label 'Time In Seconds' %>
      <%= f.number_field :timeLimit, placeholder: '10', default: '10' %>
    </div>

    <div class="col-xs-3 form-horizontal">
      <%= f.label "This results in player death." %>
      <%= f.check_box :death , class: 'col-xs-1'%>
    </div>

    <div class="col-xs-4 form-horizontal">
      <%= f.label "Start of the game." %>
      <%= f.check_box :start , class: 'col-xs-1'%>    
    </div>

    <div class="col-xs-2 form-horizontal">
      <%= f.label :final %><br>
      <%= f.check_box :final , class: 'col-xs-1'%>
    </div>


  </div>

  <div class="form-group row">
    <div class="col-xs-6 form-horizontal">
      <%= f.label "Background Image Key" %>
      <%= f.text_field :backgroundImage %>
    </div>
    <div class="col-xs-6 form-horizontal">
      <%= f.label "Character Image Key" %>
      <%= f.text_field :characterImage %>
    </div>
  </div>

<h3>Story Choices</h3>

<ul>
    <%= f.fields_for :story_choices do |choice_form| %>
      <li>
      <h3> Story Choice :</h3>
        <div class="form-group col-xs-12">
          <%= choice_form.label :text %><br>
          <%= choice_form.text_area :text, class: 'col-xs-10' %>
        </div>
        <br>
        <div class="form-group col-xs-12">
          <%= choice_form.label :weight %><br>
          <%= choice_form.number_field :weight %>
        </div>
        <div class="form-group col-xs-12">
          <%#= choice_form.select(:storyIndex, options_for_select(  Story.all.map { |story| [story.storyText, story.id]}, default: 'Something'   )) %>
          <%#= choice_form.number_field :storyIndex %>
          <%= choice_form.select(:storyIndex, Story.all.collect {|p| [ p.storyText, p.id ] }, { include_blank: true }) %>
        </div>


      </li>
    <% end %>
</ul>


  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
</div>
