<p id="notice"><%= notice %></p>

<p>
  <strong>Timelimit:</strong>
  <%= @story.timeLimit %>
</p>

<p>
  <strong>Storytext:</strong>
  <%= @story.storyText %>
</p>

<p>
  <strong>Backgroundimage:</strong>
  <%= @story.backgroundImage %>
</p>

<p>
  <strong>Characterimage:</strong>
  <%= @story.characterImage %>
</p>

<p>
  <strong>Final:</strong>
  <%= @story.final %>
</p>

Story Options:

<% for story_choice in @story.story_choices do %>
  <p>
    <strong> <%= story_choice.text %> </strong>
    <br>
    <%= link_to 'Edit', edit_story_choice_path(story_choice) %>
    <%= link_to 'Destroy', story_choice_path(story_choice), method: :delete, data: { confirm: 'Are you sure?' } %>

  </p>
<% end %>


<p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>

</p>